* {
    font-family:   'Trebuchet MS', sans-serif;
}
body {
    background-color: rgb(5, 158, 130);
    display: flex;
        justify-content: center;
        align-items: center;
    padding-top: 8vh;

}
.centerbox {
    height: 600px;
    width: 600px;
    background-color: rgb(1, 51, 35);
    padding: 0 20px 0 20px;
    border-radius: 30px;
    display: flex;
        flex-direction: column;
        justify-content: center ;
        align-items: center;
    filter: drop-shadow(0px 0px 8px rgb(1, 51, 35) );

    @media  (max-width:1200px){
    width: 50%;
    }
    @media  (max-width:600px){
        width: 85%;
        }
    }
    .insidecontainer {
        display:flex;
            justify-content: center;
            align-items: center;
        gap: 20px;
    }
    .blocks {
        height: 90px;
        width: 90px;
        background-color: rgb(80, 58, 83);
        display:flex;
            justify-content: center;
            align-items: center;
        border-radius: 25px;
        margin-bottom: 10px;
        cursor:pointer;
            user-select: none;
    }
    .stopBtn, .CompOutput{
        height: 90px;
        width: 90px;
        background-color: rgb(80, 58, 83);
        display:flex;
            justify-content: center;
            align-items: center;
        border-radius: 25px;
        user-select: none;

    }
    .CompOutput {
        position: relative;
    }
    #compIcon {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 16px;
    }
    #reset {
        width: 50%;
    }
    .resultText {
        color: aliceblue;
        margin-bottom: -15px;
    }
    .resultText2 {
        color: aliceblue;
        margin-bottom: 40px;
    }
    #counter {
        padding-right: 10px;
    }

